  <%= hidden_field_tag 'product_type_id_hidden', nil, value: @product_type.id %>
  <%= form_for(@product_type, remote: true) do |f| %>
    <% if @product_type.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product_type.errors.count, "error") %> prohibited this product_type from being saved:</h2>

        <ul>
        <% @product_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <hr/>
    <h5>产品分类信息：</h5>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="actions">
      <%= f.submit '保存分类名' %>
    </div>
  <% end %>

<div id="productTypeTabs">
  <ul>
    <li><a href="#tab1"> 属性设置 </a></li>
    <li><a href="#tab2"> 价格设置 </a></li>
    <li><a href="#tab3"> 文本设置 </a></li>
  </ul>

  <div id="tab1" >
    <hr/>
    <%= render 'product_type_name' %>
    <hr/>
    <%= render 'product_type_types' %>
    <hr/>

    <h5>属性设置： <a class="addAttribute" >添加</a> </h5>
    <div id="addAttributesTable" >
      <%= render 'product_attributes_type' %>
    </div>
  </div>
  <div id="tab2">
    <hr/>
      <%= render 'product_type_shipment' %>
    <hr/>
      <%= render 'product_type_price' %>
  </div>
  <div id="tab3" >
    <hr/>
      <%= render 'product_type_key_word' %>
    <hr/>

    <h5>产品说明设置</h5>
      <%= render 'product_type_description' %>
    <hr/>
      <%= render 'product_type_introduction' %>
    <hr/>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('#productTypeTabs').tabs();
    var product_type_id = $('#product_type_id_hidden').val();

    $('#saveIntroduction').click(function(){
      var typeIntroduction1Values = '';
      var typeIntroduction2Values = '';
      $('.introduction1TextArea').each(function(){
        typeIntroduction1Values = typeIntroduction1Values + $(this).val() + '|';
      });
      $('.introduction2TextArea').each(function(){
        typeIntroduction2Values = typeIntroduction2Values + $(this).val() + '|';
      });

      $.ajax({
        url: '/product_types/'+ product_type_id +'/update_type_introduction',
        type: 'POST',
        data: {introduction_1: typeIntroduction1Values, introduction_2: typeIntroduction2Values},
        success: function(){
          alert('操作成功！');
        }
      })
    });

    $('#saveTypeSetting').click(function(){
      var typeSettingValue = '';
      $('.typeSetting').each(function(){
        typeSettingValue = typeSettingValue + $(this).val() + ',';
      });
      $.ajax({
        url: '/product_types/'+ product_type_id +'/update_type_setting',
        type: 'POST',
        data: { type_values: typeSettingValue},
        success: function(){
        }
      })
    });

    $('#savePrice').click(function(){
      var priceValues = '';
      $('.salePrice').each(function(){
        priceValues = priceValues + $(this).val() + ',';
      });
      $.ajax({
        url: '/product_types/'+ product_type_id + '/update_price_setting',
        type: 'GET',
        data: {price_value: priceValues},
        success: function(){
        }
      });
    });

    $('.addAttribute').click(function(){
      var trContent = "<tr><td><input type='text' name='attr_text_name' style='width:80px;' class='attribute_value' ></td><td><input type='checkbox' name='attr_is_locked' style='width:80px;' class='locaked_checkbox' ><input type='hidden' name='checkbox_hidden_attr' id='checkbox_hidden_attr' class='attribute_value' ></td><td><input type='text' name='attr_text_table_name' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_china' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_america' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_canada' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_british' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_germany' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_france' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_spain' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_italy' style='width:80px;' class='attribute_value' ></td><td><a class='editAttribues' >保存</a></td><td><a class='newAttributeValue'>新增</a></td><td><a class='removeNewLineAttribute'>删除</a></td></tr>";

      $('table.attributes_setting').find('tr:first').after(trContent);
        $('.editAttribues').click(function(){
          var attributes_value = '';
          var attributeIsLocked = $(this).parents('tr').find('.locaked_checkbox').prop('checked');
          $(this).parents('tr').find('.locaked_checkbox').next('.attribute_value').val(attributeIsLocked);

          $(this).parents('tr').find('.attribute_value').each(function(){
            attributes_value = attributes_value + $(this).val() + ',';
          });
          var attribute_id = $(this).attr('value');

          $.ajax({
            url: '/product_types/'+ product_type_id +'/update_product_type_attribute',
            type: 'POST',
            data: { attributes_value: attributes_value, attribute_id: attribute_id},
            success: function(){
              alert('操作成功！');
            }
          });
          return false;
        });

        $('.removeNewLineAttribute').click(function(){
          $(this).parents('tr').remove();
        });

      $('.removeAttribues').click(function(){
        var attribute_id = $(this).attr('value');
        $.ajax({
          url: '/product_types/' + attribute_id + '/remove_product_type_attribute',
          type: 'DELETE',
          success: function(){
            alert('操作成功！');
            return false;
          }
        });
      });
      $('.newAttributeValue').click(function(){
        var attributeName = $(this).parents('tr').find('input[name="attr_text_name"]').val();
        var attributeIsLocked = $(this).parents('tr').find('input[name="attr_is_locked"]').val();
        var attributeTableName = $(this).parents('tr').find('input[name="attr_text_table_name"]').val();
        var trContent = "<tr><td><input type='text' name='attr_text_name' style='width:80px; display:none;' class='attribute_value' value=" + attributeName + " ></td><td><input type='checkbox' name='attr_is_locked' style='width:80px; display:none;' class='locaked_checkbox' ><input type='hidden' name='checkbox_hidden_attr' id='checkbox_hidden_attr' class='attribute_value' ></td><td><input type='text' name='attr_text_table_name' style='width:80px; display:none;' class='attribute_value' value=" + attributeTableName +" ></td><td><input type='text' name='attr_text_china' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_america' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_canada' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_british' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_germany' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_france' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_spain' style='width:80px;' class='attribute_value' ></td><td><input type='text' name='attr_text_italy' style='width:80px;' class='attribute_value' ></td><td><a class='editAttribues' >更新</a></td><td>删除</td></tr>";
        $(this).parents('tr').after(trContent);

        $('.editAttribues').click(function(){
          var attributes_value = '';
          var attributeIsLocked = $(this).parents('tr').find('.locaked_checkbox').prop('checked');
          $(this).parents('tr').find('.locaked_checkbox').next('.attribute_value').val(attributeIsLocked);
          $(this).parents('tr').find('.attribute_value').each(function(){
            attributes_value = attributes_value + $(this).val() + ',';
          });
          var attribute_id = $(this).attr('value');
          var product_type_id = $('#product_type_id_hidden').val();

          $.ajax({
            url: '/product_types/'+ product_type_id +'/update_product_type_attribute',
            type: 'POST',
            data: { attributes_value: attributes_value, attribute_id: attribute_id},
            success: function(){
              alert('操作成功！');
            }
          });
          return false;
        });
    });
    });
  });
</script>
