<h5>销售价设置</h5>
<table class="table">
  <tr>
    <% %w(国家 中国 美国 加拿大 英国 德国 西班牙 意大利 法国).each do |country| %>
      <th><%= country%></th>
    <% end %>
  </tr>
  <tr>
    <td>价格</td>
      <%
        if @product_type.price_translation.present?
          price_translation_value = AttributesTranslationHistory.find(@product_type.price_translation)
        else
          price_translation_value = AttributesTranslationHistory.new
        end
      %>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.china %>></td>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.america %>></td>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.canada %>></td>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.british %>></td>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.germany %>></td>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.spain %>></td>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.italy %>></td>
      <td><input type="text" style="width:100px;" class="salePrice" value=<%= price_translation_value.france %>></td>
  </tr>
</table>
<% if current_user.is_dd? || product_type.user_id.to_i == current_user.id %>
  <button id="savePrice" >保存价格</button>
<% end %>
