<table class="table table-bordered">
  <thead>
    <tr>
      <th>名称</th>
      <th>是否是终极分类(选中为是)</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @product_types.each do |product_type| %>
      <tr>
        <td>
          <% if product_type.is_final_type %>
            <button class="next_product_type" value=<%= product_type.id %> disabled="disabled" > <%= product_type.name %> </button>
          <% else %>
            <button class="next_product_type" value=<%= product_type.id %> > <%= product_type.name %> </button>
          <% end %>
        </td>
        <td><%= check_box_tag 'is_final_type', "#{product_type.id}", product_type.is_final_type, class:'product-type-checkbox' %></td>
        <td><%= if product_type.is_final_type
                  link_to('编辑', edit_product_type_path(product_type))
                else
                  link_to('编辑', edit_product_type_path(product_type), onclick:'return false;')
                end
            %></td>
        <td>
          <% if product_type.is_final_type && !product_type.has_product? %>
            <button class="product_type_delete" data-product-type-id="<%= product_type.id %>" >删除</button>
          <% else %>
            <button class="product_type_delete" data-product-type-id="<%= product_type.id %>" disabled >删除</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<input type="hidden" value=<%= @product_type_father_node %> >
<%= form_tag(product_types_path(father_node: @product_type_father_node), method: :post, remote: true) do %>
  <%= label_tag '类型名称' %>
  <%= text_field_tag 'product_type_name' %>
  <%= submit_tag '新建' %>
<% end %>

<% previouse_father_node = ProductType.find(@product_type_father_node).father_node unless @product_type_father_node == '0' %>
<%= link_to '返回', product_types_path(father_node: previouse_father_node) %>

<script type="text/javascript">
  $('.product_type_delete').click(function(){
    var r = confirm("Are you sure?");
    if (r == false) {
      return false;
    }

    var deleted_button = $(this);
    var product_type_id = $(this).data('product-type-id');
    $.ajax({
      url: '/product_types/'+ product_type_id ,
      type: 'delete',
      success: function(){
        deleted_button.parents('tr').remove();
      }
    })
    return false;
  });

  $('.product-type-checkbox').click(function(){
    var clickedCheckBox = $(this);
    if ($(this).is(':checked')) {
      var checkedOrNot = 'checked'
    } else {
      var checkedOrNot = 'unchecked'
    }
    var productTypeId = $(this).val();
    $.ajax({
      url: '/product_types/' + productTypeId + '/update_final_type',
      type: 'post',
      data: { checked_or_not: checkedOrNot},
      success: function(data){
        if (data == '1') {
          clickedCheckBox.prop('checked','checked');
          alert('该分类下有产品，不可以修改分类类型！');
        } else if( data == '2') {
          clickedCheckBox.prop('checked',false);
          alert('该分类下有其他分类，不可以修改其分类类型！');
        } else if(data == '3') {
          clickedCheckBox.parents('tr').find('.next_product_type').attr('disabled','disabled');
          clickedCheckBox.parents('tr').find('.next_product_type').attr('disabled','disabled');
          clickedCheckBox.parents('tr').find('a:first').removeAttr('onclick');
          clickedCheckBox.parents('tr').find('a:last').removeAttr('onclick');
          clickedCheckBox.parents('tr').find('button:last').removeAttr('disabled');
        } else if(data == '4') {
          clickedCheckBox.parents('tr').find('button.next_product_type').removeAttr('disabled');
          clickedCheckBox.parents('tr').find('a:first').attr('onclick','return false;');
          clickedCheckBox.parents('tr').find('a:last').attr('onclick','return false');
          clickedCheckBox.parents('tr').find('button:last').attr('disabled','disabled');
        }
      }
    })

  });
  
  $('.next_product_type').click(function(){
    var clickedCheckBox = $(this);
    if ($(this).is(':checked')) {
      var checkedOrNot = 'checked'
    } else {
      var checkedOrNot = 'unchecked'
    }
    var father_node = $(this).attr('value');
    $.ajax({
      url: '/product_types/' + father_node + '/next_product_types_list',
      type: 'get',
      success: function(){
        if (checkedOrNot == 'checked') {
          clickedCheckBox.parents('tr').find('.next_product_type').attribute('disabled','disabled');
        } else {
          clickedCheckBox.parents('tr').find('.next_product_type').removeAttr('disabled');
        }
      }
    });
  });
</script>