<div>
  <h5>产品更新进度&nbsp&nbsp&nbsp(<%= @current_updated_product_count %>/<%= @all_updated_products_count %>)</h5>
  <div class="progress" style="width:80%; margin-left:8%;">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= @current_updated_product_count %>" aria-valuemin="0" aria-valuemax="<%= @all_updated_products_count %>" style="width: <%= @product_updated_percentage %>%;">
      <%= @product_updated_percentage %>%
    </div>
  </div>
</div>
<hr/>