<% if current_user.is_dd? %>
  <%= render 'update_div' %>
<% end %>

<h4>工作统计</h4>
<hr/>
<h5>当天统计</h5>
<table class="table table-bordered">
  <tr>
    <th>组长</th>
    <th>人员</th>
    <th>时间</th>
    <th>上线产品数</th>
  </tr>
  </tr>
  <% today_online_products = 0 %>
  <% current_user.valid_brothers.each_with_index do |user,index| %>
    <tr>
      <td><%= user.try(:leader).try(:username) %></td>
      <td><%= user.username %></td>
      <td><%= Time.now.strftime("%Y-%m-%d") %></td>
      <td>
        <%= user.today_products.count %>
        <% today_online_products = today_online_products + user.today_products.count %>
      </td>
    </tr>
  <% end %>
  <tr>
      <td>总计</td>
      <td><%= Time.now.strftime("%Y-%m-%d") %></td>
      <td><%= today_online_products %></td>
  </tr>
</table>

<hr/>
<h5>七天统计</h5>
<table class="table table-bordered">
  <tr>
    <th>人员</th>
    <th>时间</th>
    <th>上线产品数</th>
  </tr>
  <tr>
    <% week_online_products = 0 %>
    <% current_user.valid_brothers.each_with_index do |user,index| %>
      <% next if user.role != 3%>
      <% user_week_online_products = 0 %>
      <tr>
        <td rowspan="8"><%= user.username %></td>
        <td><%= Time.now.days_ago(1).strftime('%Y-%m-%d') %></td>
        <td>
          <% day_product_count = user.seven_day_products(1).count %>
          <%= day_product_count %>
          <% week_online_products = week_online_products + day_product_count %>
          <% user_week_online_products = user_week_online_products + day_product_count %>
        </td>
      </tr>
      <% 2.upto(7).each do |day| %>
        <tr>
          <td><%= Time.now.days_ago(day).strftime('%Y-%m-%d') %></td>
          <td>
            <% day_product_count = user.seven_day_products(day).count %>
            <%= day_product_count %>
            <% week_online_products = week_online_products + day_product_count %>
            <% user_week_online_products = user_week_online_products + day_product_count %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>总计</td>
        <td><%= user_week_online_products %></td>
      </tr>
    <% end %>
  </tr>
  <tr>
      <td>总计</td>
      <td><%= "#{Time.now.days_ago(7).strftime('%Y-%m-%d')} - #{Time.now.days_ago(1).strftime('%Y-%m-%d')}" %></td>
      <td><%= week_online_products %></td>
  </tr>
</table>


<hr/>
<h5>全部统计</h5>
<table class="table table-bordered">
  <tr>
    <th>人员</th>
    <th>截至时间</th>
    <th>上线产品数</th>
  </tr>
  </tr>
  <% all_online_products = 0 %>
  <% current_user.valid_brothers.each_with_index do |user,index| %>
    <% next if user.role != 3%>
    <tr>
      <td><%= user.username %></td>
      <td><%= Time.now.strftime("%Y-%m-%d") %></td>
      <td>
        <%= user.products.onsale.un_shield.count %>
        <% all_online_products = all_online_products + user.products.onsale.count %>
      </td>
    </tr>
  <% end %>
  <tr>
      <td>总计</td>
      <td><%= Time.now.strftime("%Y-%m-%d") %></td>
      <td><%= all_online_products %></td>
  </tr>
</table>