<h5>当前汇率(1外币可兑换人民币价格)</h5>
<table class="table table-bordered" style="width:90%;" >
  <tr>
    <th>英国</th>
    <th>德国</th>
    <th>法国</th>
    <th>西班牙</th>
    <th>意大利</th>
    <th>美国</th>
    <th>加拿大</th>
  </tr>
  <tr>
    <td><%= @current_rate.try(:british) %></td>
    <td><%= @current_rate.try(:germany) %></td>
    <td><%= @current_rate.try(:france) %></td>
    <td><%= @current_rate.try(:spain) %></td>
    <td><%= @current_rate.try(:italy) %></td>
    <td><%= @current_rate.try(:america) %></td>
    <td><%= @current_rate.try(:canada) %></td>
  </tr>
</table>

<hr/>
<h5>汇率设定</h5>
<%= form_for(@rate) do |f| %>
<table class="table table-bordered" style="width:90%;">
  <tr>
    <% %w(英国 德国 法国 西班牙 意大利 美国 加拿大).each do |country| %>
      <td><%= country %></td>
    <% end %>
  </tr>
  <tr>
    <td><%= f.text_field :british, value: @current_rate.try(:british), style:'width:100px;' %></td>
    <td><%= f.text_field :germany, value: @current_rate.try(:germany), style:'width:100px;' %></td>
    <td><%= f.text_field :france, value: @current_rate.try(:france), style:'width:100px;' %></td>
    <td><%= f.text_field :spain, value: @current_rate.try(:spain), style:'width:100px;' %></td>
    <td><%= f.text_field :italy, value: @current_rate.try(:italy), style:'width:100px;' %></td>
    <td><%= f.text_field :america, value: @current_rate.try(:america), style:'width:100px;' %></td>
    <td><%= f.text_field :canada, value: @current_rate.try(:canada), style:'width:100px;' %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit '确定' %>
  </div>
<% end %>
