<% if @accounts.present? %>
  <table class="table table-bordered" >
    <tr>
      <th>账号名称</th>
      <th>操作</th>
    </tr>
    <% @accounts.each do |account| %>
      <tr>
        <td>
          <%= text_field_tag '', account.name, class:'account_name' %>
          <%= button_tag '改名', class:'update_account_name', "data-account-id"=> account.id %>
        </td>
        <td>
          <%= link_to '查看', merchants_path(account_id: account.id) %>
          <%= link_to '导出本账户', export_account_merchants_path(id: account.id) %>
          <%  %>
          <%= select_tag 'select_responser', options_from_collection_for_select(User.all, 'id', 'username', account.user_id), class:'select_responser', "data-account-id"=> account.id %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  目前无可用帐号！
<% end %>

<script type="text/javascript">
  $('.update_account_name').click(function(){
    var new_name = $(this).parents('td').find('.account_name')
  });

  $('.select_responser').change(function(){
    var user_id = $(this).val();
    var account_id = $(this).data('account-id');
    $.ajax({
      url: '/users/update_responser',
      type: 'post',
      data: {user_id: user_id, account_id: account_id},
      success: function(){}
    })
  });

  $('.accountUpdated').click(function(){
    var id = $(this).data('account-id');
    $.ajax({
      url: "<%= set_account_updated_merchants_path %>",
      type: 'post',
      data: {id: id},
      success: function(){
        alert('更新成功！');
      }
    })
  })

  $('.remove_account').click(function(){
    if (!confirm('确定要删除吗？')){
      return false;
    }
    var account_id = $(this).data('account-id');
    $.ajax({
      url: "<%= remove_account_merchants_path %>",
      type: 'delete',
      data: {id: account_id},
      success: function(){}
    })
  })
</script>