<% if @merchants.present? %>
  <table class="table table-bordered">
    <tr>
      <td>名称</td>
      <td>国家</td>
      <td>状态</td>
      <td>创建者</td>
      <td>运费(此处为对应国家货币)</td>
      <td>操作</td>
    </tr>
    <% @merchants.order('is_removed').each do |m| %>
      <% if m.removed? %>
        <tr style="background:#8c8e86" >
      <% else %>
        <tr>
      <% end %>
        <td><%= m.shop_name %></td>
        <td><%= m.merchant_country_name %></td>
        <% if m.status %>
          <td class="merchant-status" >启用</td>
        <% else %>
          <td>禁用</td>
        <% end %>
        <td><%= m.user.try(:username) %></td>
        <td><%= text_field_tag 'merchant_shipment', m.shipment_cost, type:'number', style:'width:150px;' , class:'merchantShipmentCost' %><%= button_tag '更新', class:'updateMerchantShipment', 'data-merchant-id'=> m.id %></td>
        <td>
          <!-- <button class="bind-products" >绑定产品</button> -->
          <button class="stop-merchant" data-merchant-id="<%= m.id %>" >停用</button>
          <% unless m.removed? %>
            <%= link_to '转到删除', clean_merchant_merchant_path(m), remote: true, method: :post %>
          <% end %>
          <%= link_to '编辑', edit_merchant_path(m) %>
          <button class="remove-merchant" data-merchant-id="<%= m.id %>" >删除</button>
        </td>
      </tr>
  <!--     <tr style="display:none; background-color: rgba(0, 173, 255, 0.35);" >
        <td colspan="5"><textarea class="product-skus" cols="100" rows="20" ></textarea></td>
        <td>
          <button class="bind-confirm" data-merchant-id="<%= m.id %>" >绑定</button>
          <button class="bind-close" data-merchant-id="<%= m.id %>" >关闭</button>
        </td>
      </tr>
   -->  <% end %>
  </table>
<% else %>
目前没有可用账号！
<% end %>

<script type="text/javascript">
  $('.bind-close').click(function(){
    $(this).parents('tr').fadeOut();
  });

  $('.updateMerchantShipment').click(function(){
    if (confirm('修改商铺运费将会更新所有绑定商铺，确定要修改吗？')) {

    } else {
      return false;
    }
    var merchant_id = $(this).data('merchant-id');
    var $thisTd = $(this).parents('td');
    var shipment_cost = $thisTd.find('.merchantShipmentCost').val();
    $.ajax({
      url: '/merchants/'+ merchant_id + '/update_shipment_cost',
      type: 'post',
      data: {shipment_cost: shipment_cost},
      success: function(){
        alert('更新成功！');
      }
    })
  });

  $('.bind-products').click(function(){
    var $this = $(this);
    var currentTr = $(this).parents('tr');
    var nextTr = currentTr.next('tr');
    nextTr.show('blind');
  });

  $('.bind-confirm').click(function(){
    var $this = $(this);
    var merchantId = $(this).data('merchant-id');
    
    var productSku = $this.parents('tr').find('.product-skus').val();
    $.ajax({
      url: '/merchants/' + merchantId + '/add_merchant_product',
      data: {product_sku: productSku},
      type: 'post',
      success: function(){
        $this.parents('tr').hide('blind');
        $this.parents('tr').find('.product-skus').val('');
        alert('绑定成功！');
      }
    })
  })

  $('.remove-merchant').click(function(){
    var r = confirm("删除后不可恢复，确定要删除吗？");
    if (r == false) { return false;}
    var $this = $(this);
    var merchantId = $(this).data('merchant-id');
    $.ajax({
      url: '/merchants/'+ merchantId,
      type: 'delete',
      success: function(){
        $this.parents('tr').remove();
        alert('操作成功！');
      }
    })
  });

  $('.stop-merchant').click(function(){
    var r = confirm("停用的后果很严重，确定要停用吗？");
    if (r == false) { return false;}
    var $this = $(this);
    var merchantId = $(this).data('merchant-id');
    $.ajax({
      url: '/merchants/' + merchantId + '/stop_merchant',
      type: 'post',
      success: function(){
        $this.parents('tr').find('td.merchant-status').text('停用');
        alert('操作成功！');
      }
    })
  });
</script>