<div>
  <%= link_to('导出所有', export_all_account_merchants_path, method: 'post', 'data-no-turbolink' => true) %>
</div>
<hr/>
<div id="account_list_div">
  <%= render 'account_list' %>
</div>
<hr/>
<% if @user_manage_auth %>
  <%= form_tag(create_account_merchants_path, remote:true) do %>
    账号名称：<%= text_field_tag 'name' %>
    <%= submit_tag '创建' %>
  <% end %>
<% end %>