<p>商铺列表</p>
<div id="merchant_list_div">
  <%= render 'merchant_list' %>
</div>
<hr/>
<div>
  <%= form_tag(merchants_path, remote:true, method: 'post') do %>
    <%= label_tag '店铺名称:' %>
    <%= text_field_tag 'shop_name', nil, class:'clean_after_submit' %><br/>
    <%= label_tag '平台:' %>
    <%= text_field_tag 'merchant_plantform_name', nil, class:'clean_after_submit' %><br/>
    <%= label_tag '平台账号:' %>
    <%= text_field_tag 'merchant_account', nil, class:'clean_after_submit' %><br/>
    <%= label_tag '店铺所属国家:' %>
    <%= select_tag 'merchant_country_name', "<option value='america'>美国</option><option value='canada'>加拿大</option><option value='british'>英国</option><option value='germany'>德国</option><option value='spain'>西班牙</option><option value='italy'>意大利</option><option value='france'>法国</option>".html_safe, class:'clean_after_submit' %><br/>
    <%= label_tag '店铺类型:' %>
    <%= text_field_tag 'merchant_type', nil, class:'clean_after_submit' %><br/>
    <%= label_tag 'aws_access_key_id:' %>
    <%= text_field_tag 'merchant_aws_access_key_id', nil, class:'clean_after_submit' %><br/>
    <%= label_tag 'secret_key:' %>
    <%= text_field_tag 'merchant_secret_key', nil, class:'clean_after_submit' %><br/>
    <%= label_tag 'seller_id:' %>
    <%= text_field_tag 'merchant_seller_id', nil, class:'clean_after_submit' %><br/>
    <%= label_tag 'marketplace_id:' %>
    <%= text_field_tag 'merchant_marketplace_id', nil, class:'clean_after_submit' %><br/>

    <%= submit_tag '确定' %>
  <% end %>
</div>