
<table class="table table-bordered" style="width:90%;">
  <thead>
    <tr>
      <th>品牌</th>
      <th>供应商</th>
      <th>店铺名称</th>
      <th>管理员</th>
      <th>管理员产品比</th>
      <th>采购地址</th>
      <th>联系方式</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.brand.try(:name) %></td>
        <td><%= text_field_tag '', vendor.name, class:'vender_name' %></td>
        <td><%= vendor.shop.try(:name) %></td>
        <td>
          <% if vendor.try(:user).try(:username).present? %>
            <%= vendor.try(:user).try(:username) %>
          <% else %>
            <%= select_tag 'vendor_charger', options_from_collection_for_select(User.all, 'id', 'username'), include_blank: true, "data-shop-id"=> vendor.shop_id, "data-brand-id"=> vendor.brand_id %>
          <% end %>
        </td>
        <td><%= vendor.products_percent %></td>
        <td><%= text_field_tag '', vendor.purchase_address, class:'vendor_purchase_address' %></td>
        <td><%= text_field_tag '', vendor.contact, class:'vendor_contact' %></td>
        <td><%= text_area_tag '', vendor.backup, class:'vendor_backup' %></td>
        <td>
          <%= button_tag '更新', class:'update_vendor', "data-vendor-id"=>vendor.id %>
          <%= button_tag '删除', class:'remove_vendor', "data-vendor-id"=>vendor.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @vendors %>
<script type="text/javascript">
  $('#vendor_charger').change(function(){
    alert(123);
    var selected_id = $(this).val();
    var shop_id = $(this).data("shop-id");
    var brand_id = $(this).data("brand-id");
    $.ajax({
      url: "/shops/change_shop_charger",
      type: 'post',
      data: { selected_id: selected_id, shop_id: shop_id, brand_id: brand_id },
      success: function(){}
    });
  });

  $('.update_vendor').click(function(){
    if (!confirm('确定要更新供应商信息吗？')){
      return false;
    }
    var $thisTr = $(this).parents('tr');
    var vender_name = $thisTr.find('.vender_name').val();
    var vendor_purchase_address = $thisTr.find('.vendor_purchase_address').val();
    var vendor_contact = $thisTr.find('.vendor_contact').val();
    var vendor_backup = $thisTr.find('.vendor_backup').val();
    var vendor_id = $(this).data('vendor-id');
    $.ajax({
      url: '/vendors/'+ vendor_id + '/update_vendor_info',
      type: 'post',
      data: { name: vender_name, purchase_address: vendor_purchase_address, contact: vendor_contact, backup: vendor_backup },
      success: function(){
        alert('操作成功！');
      }
    })
  });

  $('.remove_vendor').click(function(){
    if (!confirm('确定要删除供应商信息吗？')){
      return false;
    }
    var vendor_id = $(this).data('vendor-id');
    $.ajax({
      url: '/vendors/'+ vendor_id + '/remove_vendor_info',
      type: 'delete',
      success: function(){
        alert('操作成功！');
      }
    })
  });
</script>
