<h4>供应商列表 (<%= @vendors.size %>个)</h4>
<hr/>
<%= form_tag(search_by_condition_vendors_path, remote: true) do %>
  <%= text_field_tag 'brand_name', nil, placeholder:'品牌名称' %>
  <%= text_field_tag 'shop_name', nil, placeholder:'店铺名称' %>
  <%= submit_tag '搜索', class:'btn btn-primary' %>
<% end %>
<hr/>
<div id="vendor_list_div" >
  <%= render 'vendors/vendor_list' %>
</div>