<table class="table table-bordered" style="width:90%;">
  <thead>
    <tr>
      <th>品牌名称</th>
      <th>品牌英文名</th>
      <th>已对接店铺</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <% if brand.get_brand_stand_by_shops.present? %>
        <tr style="background:rgba(0, 128, 0, 0.46);" >
      <% else %>
        <tr>
      <% end %>
        <td><%= brand.name %></td>
        <td>
          <%= text_field_tag 'brand_english_name', brand.english_name %>
          <%= button_tag '确认', id:'update_brand_english_name', "data-brand-id"=>brand.id %>
        </td>
        <td>
          <% brand.get_brand_connect_shops.each do |brand_shop| %>
            <span style='border: 0.5px solid;' ><%= brand_shop.name %></span>
          <% end %>
        </td>
        <td><%= link_to '详情', brand %></td>
        <td><%= button_tag '屏蔽品牌', class:'forbidden_brand', "data-brand-id"=> brand.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('#update_brand_english_name').click(function(){
    var $thisTd = $(this).parents('td');
    var brand_id = $(this).data('brand-id');
    var brand_english_name = $thisTd.find('#brand_english_name').val();

    $.ajax({
      url: "/brands/" + brand_id + "/update_brand_english_name",
      data: { brand_english_name: brand_english_name},
      type: 'post',
      success: function(){
        alert('更新成功！');
      }
    })
  });

  $('.forbidden_brand').click(function(){
    // $('#forbidden_brand').unbind('click');
    if (!confirm('确定要屏蔽本品牌吗？')) {
      return false;
    }
    var brand_id = $(this).data('brand-id');
    $.ajax({
      url: '/brands/'+ brand_id + '/forbidden_brand',
      type: 'post',
      success: function(){
      }
    })
  });
</script>
