<h3>品牌列表</h3>
<hr/>
<table class="table table-bordered" style="width:90%;">
  <thead>
    <tr>
      <th>品牌名称</th>
      <th>品牌英文名</th>
      <th>已对接店铺</th>
      <th colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td><%= brand.name %></td>
        <td>
          <%= text_field_tag 'brand_english_name', brand.english_name %>
          <%= button_tag '确认', id:'update_brand_english_name', "data-brand-id"=>brand.id %>
        </td>
        <td></td>
        <td><%= link_to 'Show', brand %></td>
        <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
        <td><%= link_to 'Destroy', brand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $('#update_brand_english_name').click(function(){
    var $thisTd = $(this).parents('td');
    var brand_id = $(this).data('brand-id');
    var brand_english_name = $thisTd.find('#brand_english_name').val();

    $.ajax({
      url: "/brands/" + brand_id + "/update_brand_english_name",
      data: { brand_english_name: brand_english_name},
      type: 'post',
      success: function(){
        alert('更新成功！');
      }
    })
  })
</script>
