<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, size:'60x3' %>
  </div>
  <div class="field">
    <label>源地址：</label>
    <%= link_to "#{@product.origin_address}", "#{@product.origin_address}", :target => 'blank' %><br>
  </div>
  <div class="field">
    <label>备注：</label>
    <%= @product.try(:shop).try(:back_up) %><br>
  </div>
  <table>
    <tr>
      <td>
        <%= f.label "产品号:" %>
        <%= f.text_field :product_number, size:30 %>
      </td>
      <td>
        <%= f.label "品牌:" %>
        <%= f.text_field :brand, size:30 %>
      </td>
      <td>
        <%= f.label "帮面材质:" %>
        <%= f.text_field :outer_material_type %>
      </td>
      <td>
        <%= f.label "生产商家:" %>
        <%= f.text_field :producer %>  
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "鞋底材质:" %>
        <%= f.text_field :sole_material %>
      </td>
      <td>
        <%= f.label "跟底款式:" %>
        <%= f.text_field :heel_type %>
      </td>
      <td>
        <%= f.label "闭合方式:" %>
        <%= f.text_field :closure_type %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label '适用人群' %>
        <% value_id = @product.department_name ? ShoesAttributesValue.find(@product.department_name).try(:name) : 0 %>
        <%= select_tag 'product[department_name]', options_for_select(['男孩','女孩','男人','女人'], value_id) %>
      </td>
      <td>
        <%= f.label '鞋筒高' %>
        <% value_id = @product.shaft_height ? ShoesAttributesValue.find(@product.shaft_height).try(:name) : 0 %>
        <%= select_tag 'product[shaft_height]', options_for_select(['脚踝','小腿','膝盖高','过膝'], value_id) %>
      </td>
      <td>
        <%= f.label '鞋宽' %>
        <% value_id = @product.shoe_width ? ShoesAttributesValue.find(@product.shoe_width).try(:name) : 0 %>
        <%= select_tag 'product[shoe_width]', options_for_select(['正常','窄','宽','超宽'], value_id) %>
      </td>
      <td>
        <%= f.label '单暖' %>
        <% value_id = @product.lining_description ? ShoesAttributesValue.find(@product.lining_description).try(:name) : 0 %>
        <%= select_tag 'product[lining_description]', options_for_select(['单鞋','暖鞋'], value_id), include_blank: true %>
      </td>
    <tr/>
    <tr>
      <td>
        <%= f.label '靴筒宽' %>
        <% value_id = @product.shaft_diameter ? ShoesAttributesValue.find(@product.shaft_diameter).try(:name) : 0 %>
        <%= select_tag 'product[shaft_diameter]', options_for_select(['正常','窄','宽','超宽'], value_id), include_blank: true %>
      </td>
      <td>
        <%= f.label '带类型' %>
        <% value_id = @product.strap_type ? ShoesAttributesValue.find(@product.strap_type).try(:name) : 0 %>
        <%= select_tag 'product[strap_type]', options_for_select(['脚踝绑带','脚踝包裹','后跟带','T型带','人字'], value_id), include_blank: true %>
      </td>
      <td>
        <%= f.label '风格' %>
        <% value_id = @product.style_name ? ShoesAttributesValue.find(@product.style_name).try(:name) : 0 %>
        <%= select_tag 'product[style_name]', options_for_select(['舞蹈鞋','爵士&现代舞','封闭脚趾','鱼嘴','防水台','雪地靴','军靴','高帮','低帮','脚斗士-镂空','松糕底','布鞋','磨砂靴','休闲靴','皮鞋','自行车靴'], value_id), include_blank: true %>
      </td>
      <td>
        <%= f.label '鞋面材质' %>
        <% value_id = @product.leather_type ? ShoesAttributesValue.find(@product.leather_type).try(:name) : 0 %>
        <%= select_tag 'product[leather_type]', options_for_select(['绒面革','漆革','光滑的皮','麂皮绒'], value_id), include_blank: true %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label :price %>
        <%= f.text_field :price %>
      </td>
      <td>
        <%= f.label :heel_height %>
        <%= f.text_field :heel_height %>
      </td>
      <td>
        <%= f.label :seasons %>
        <%= select_tag 'product[seasons]', options_for_select(['春夏','秋冬'], @product.seasons) %>
      </td>
      <td>
        <%= f.label '平台高度' %>
        <% value_id = @product.platform_height ? ShoesAttributesValue.find(@product.platform_height).try(:name) : 0 %>
        <%= select_tag 'product[platform_height]', options_for_select(['0.5','1','1.5','2','2.5','3','3.5','4','4.5','5','5.5','6','6.5','7','7.5','8','8.5','9','9.5','10','10.5','11','11.5','12','12.5','13','13.5','14','14.5','15'], value_id), include_blank: true %>
      </td>
    </tr>
  </table>

  <hr/>
  <div class="field">
    <%= f.label :ProductType %><br>
    <%= f.collection_select :product_type_id, ProductType.all, "id", "name" %>
  </div>
  <div class="field">
    <%= f.label 'Images' %><br>
    <% @product.valid_images.each_with_index do |img,index| %>
      <div style="float: left; width: 50px; height: 50px; font-size: 4em; text-align: center; margin-left:1px; margin-top:1px; background: grey;">
        <%= image_tag(img, style:'width:50px;', class:"product_image", alt:'', "data-src"=>img) %>
        <%= hidden_field_tag "product[images#{index+1}]", nil, class:'product_hidden_field_value', value:img %>
      </div>
    <% end %><br/>
    <%= hidden_field_tag 'cut_image_urls' %>
    <%= f.label '图片裁剪方式' %>
    <select name='product[image_cut_position]' id='cut_type'>
      <option value='NorthWest' >左上</option>
      <option value='NorthEast' >右上</option>
      <option value='SouthEast' >右下</option>
      <option value='SouthWest' >左下</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :heel_height %>
    <%= f.text_field :heel_height %>
    <%= f.label :seasons %>
    <%= select_tag 'product[seasons]', options_for_select(['春夏','秋冬'], @product.seasons) %>
  </div>

  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details, size:'50x20' %>
  </div>

  <div class="field" style='float:right; margin-top: -390px; margin-right:80px;' >
    <%= image_tag @product.valid_images[0], style:'width:450px; height:350px; margin-bottom:10px;', id:'cut_review_image' %><br>
    实时：X:<%= text_field_tag 'x_pos_hidden', nil,  id:'x_pos_hidden' %>
    Y:<%= text_field_tag 'y_pos_hidden', nil,  id:'y_pos_hidden' %><br/>
    保存：X:<%= text_field_tag 'product[image_cut_x]', nil,  id:'x_pos' %>
    Y:<%= text_field_tag 'product[image_cut_y]', nil,  id:'y_pos' %>
  </div>

  <hr/>
  <h3>Editing Variables</h3>
    <table class="table">
      <thead>
        <tr>
          <th><%= check_box_tag 'check_all' %></th>
          <th><%= '颜色' %></th>
          <th>图片(左键双击删除同类图片)</th>
          <th><%= '尺寸' %></th>
          <th>Price</th>
          <th>Stock</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% pre_color = nil; count = 0; %>
        <% @product.variables.each_with_index do |v,v_index| %>
          <%
            if ((!pre_color) || (pre_color == v.color))
            else
              count = count + 1
            end
            pre_color = v.color
          %>
          <%= hidden_field_tag 'variable[][index]', nil, value:v.id %>
          <tr>
            <td><%= check_box_tag 'item' %></td>
            <td><%= text_field_tag 'variable[][color]', nil, value:v.color %></td>
            <td>
              <ul id="ul-sortable" style="list-style-type: none; margin: 0; padding: 0; width: 450px;">
              <% v.valid_images.each_with_index do |img,vv_index| %>
                <li class="ui-state-default" style="float: left; width: 50px; height: 50px; font-size: 4em; text-align: center; margin-left:1px; margin-top:1px;">
                  <%= image_tag(img, style:'width:50px;', class:"variable_image image_#{count}_#{vv_index} ", "data-src"=>img, alt:'' ) %>
                  <%= hidden_field_tag "variable[][image_url#{vv_index+1}]", nil, class:'hidden_field_value', value: v.read_attribute("image_url#{vv_index+1}") %>
                </li>
              <% end %>
              </ul>
            </td>
            <td><%= text_field_tag 'variable[][size]', nil, value:v.size, style:'width:90px' %></td>
            <td><%= text_field_tag 'variable[][price]', nil, value:v.price, class:'variable_price', style:'width:60px' %></td>
            <td><%= text_field_tag 'variable[][stock]', nil, value:v.stock, style:'width:60px' %></td>
            <td><input type='button' class='remove_variable' value='Remove' /></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <hr/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    <div >
      <%= form_tag(presale_product_product_path(@product), method:'get') do %>
        <input type="text" id="datetimepicker" name='presale_date' data-date-format="yyyy-mm-dd">
        <%= button_tag '设产品为预售并选择日期' %>
      <%end%>
      <%= link_to '屏蔽产品', shield_product_product_path(@product) %>
    </div>

<%= javascript_tag do %>

  $('.product_image').dblclick(function(){
    var flag = $(this).attr("src");
    if(flag == ''){
      var src = $(this).data("src");
      $(this).attr('src', src);
      $(this).next('.product_hidden_field_value:first').attr('value', src);
    }else{
      $(this).attr('src','');
      $(this).next('.product_hidden_field_value:first').attr('value', '');
    }
  });

  $('.product_image').click(function(){
      $(this).toggleClass('click_select');
      $('#cut_review_image').attr('src', $(this).attr('src'));
      var cut_images = '|';
      $('.click_select').each( function(){
        cut_images = cut_images + '|' + $(this).attr('src');
      });
      $('#cut_image_urls').attr('value', cut_images);
  });

  $('.variable_image').dblclick(function(){
    var flag = $(this).attr("src");
    var src = $(this).data("src");
    var classString = $(this).attr('class');
    var classNames = classString.split(" ");
    var names = "."+classNames[1];
    if(flag==''){
      $(names).each(function(){
        $(this).next('.hidden_field_value:first').attr('value', src);
        $(this).attr('src',src);
      })
    }else{
      $(names).each(function(){
        $(this).next('.hidden_field_value:first').attr('value', '');
        $(this).attr('src','');
      })
    }
  });

  $('#cut_review_image').mousemove(function(e){
    var xx = e.pageX;
    var yy = e.pageY;
    var div_x = this.offsetLeft;
    var div_y = this.offsetTop;
    $('#x_pos_hidden').attr('value', (xx - div_x));
    $('#y_pos_hidden').attr('value', (yy - div_y));
  });

  $('#cut_review_image').click(function(e){
    var x = $('#x_pos_hidden').attr('value');
    $('#x_pos').attr('value', x);
    var y = $('#y_pos_hidden').attr('value');
    $('#y_pos').attr('value', y);
  })

<% end %>

