<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title, size:'60x3' %>
  </div>
  <div class="field">
    <%= f.label :origin_address %><br>
    <%= f.text_area :origin_address, size:'60x3' %>
  </div>
  <table>
    <tr>
      <td>
        <%= f.label :product_number %>
        <%= f.text_field :product_number, size:30 %>
      </td>
      <td>
        <%= f.label :brand %>
        <%= f.text_field :brand, size:30 %>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "帮面材质:" %>
        <%= f.text_field :outer_material_type %>
      </td>
      <td>
        <%= f.label "内里材质:" %>
        <%= f.text_field :inner_material_type %>
      </td>
      <td>
        <%= f.label "生产商家:" %>
        <%= f.text_field :producer %>  
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "鞋底材质:" %>
        <%= f.text_field :sole_material %>
      </td>
      <td>
        <%= f.label "跟底款式:" %>
        <%= f.text_field :heel_type %>
      </td>
      <td>
        <%= f.label "闭合方式:" %>
        <%= f.text_field :closure_type %>
      </td>
    </tr>
  </table>

  <hr/>
  <div class="field">
    <%= f.label :ProductType %><br>
    <%= f.collection_select :product_type_id, ProductType.all, "id", "name" %>
  </div>
  <div class="field">
    <%= f.label 'Images' %><br>
    <% @product.valid_images.each_with_index do |img,index| %>
      <%= image_tag(img, style:'width:50px;', class:"product_image") %>
      <%= hidden_field_tag "product[images#{index+1}]", nil, class:'product_hidden_field_value', value:img %>
    <% end %><br/>
    <%= f.label '图片裁剪方式' %>
    <select name='cut_type' id='cut_type'>
      <option>不裁剪</option>
      <option value=1 >左上</option>
      <option value=2 >右上</option>
      <option value=3 >右下</option>
      <option value=4 >左下</option>
    </select>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
    <%= f.label :heel_height %>
    <%= f.text_field :heel_height %>
    <%= f.label :seasons %>
    <select name='seasons' id='seasons'>
      <option>请选择季节:</option>
      <option value=1 >春夏</option>
      <option value=2 >秋冬</option>
    </select>
  </div>

  <div class="field">
    <%= f.label :details %><br>
    <%= f.text_area :details, size:'60x20' %>
  </div>
  
  <hr/>
  <h3>Editing Variables</h3>
    <table class="table">
      <thead>
        <tr>
          <th><%= check_box_tag 'check_all' %></th>
          <th><%= '颜色' %></th>
          <th>图片(双击删除同类图片/右键删除单个图片)</th>
          <th><%= '尺寸' %></th>
          <th>Price</th>
          <th>Stock</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% pre_color = nil; count = 0; %>
        <% @product.variables.each_with_index do |v,v_index| %>
          <%
            if !pre_color || pre_color == v.color
            else
              count = count + 1
            end
            pre_color = v.color
          %>
          <%= hidden_field_tag 'variable[][index]', nil, value:v.id %>
          <tr>
            <td><%= check_box_tag 'item' %></td>
            <td><%= text_field_tag 'variable[][color]', nil, value:v.color %></td>
            <td>
              <ul id="ul-sortable" style="list-style-type: none; margin: 0; padding: 0; width: 450px;">
              <% v.valid_images.each_with_index do |img,index| %>
                <li class="ui-state-default" style="float: left; width: 50px; height: 50px; font-size: 4em; text-align: center;">
                  <%= image_tag(img, style:'width:50px;', class:"variable_image image_#{count}_#{index} ") %>
                  <%= hidden_field_tag "variable[][image_url#{index+1}]", nil, class:'hidden_field_value', value: v.read_attribute("image_url#{index+1}") %>
                </li>
              <% end %>
              </ul>
            </td>
            <td><%= text_field_tag 'variable[][size]', nil, value:v.size, style:'width:90px' %></td>
            <td><%= text_field_tag 'variable[][price]', nil, value:v.price, class:'variable_price', style:'width:60px' %></td>
            <td><%= text_field_tag 'variable[][stock]', nil, value:v.stock, style:'width:60px' %></td>
            <td><input type='button' class='remove_variable' value='Remove' /></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <hr/>
  <div class="actions">
    <%= link_to '屏蔽产品', shield_product_product_path(@product) %>
    <%= f.submit %>
  </div>
<% end %>
