<% @result = @result || {} %>
<%= form_tag(search_products_path, method:'get') do %>
  
  <% @template_type = '0' %>
  <%= render 'products/product_type_select_template' %>

  <label>制造商：</label>
  <%= text_field_tag 'product_shop', nil, value: @result[:shop] %>
  <label>品牌：</label>
  <%= text_field_tag 'product_brand', nil, value: @result[:brand] %>
  <label>SKU：</label>
  <%= text_field_tag 'sku_value', nil, value: @result[:sku] %>
  <%= hidden_field_tag 'action_from', value= @action_from %>
  <%= button_tag '搜索' %>
<% end %>
<hr/>

<script type="text/javascript">
  $('.productTypeClose').click(function(){
    $('#productTypeDiv').css('display','none');
    $('#productTypeHistory').find('.selectedLevel2Value').remove();
    $.ajax({
      url: '/product_types/get_children_product_types',
      type: 'POST',
      success: function(){

      }
    });
  });

  $('.productTypeCancel').click(function(){
    $('#product_select_value').attr('value','');
    $('#productTypeText').val('');
  });

  $('#productTypeText').click(function(){
    $(this).val('');
    var left = $(this).offset().left;
    var top = $(this).offset().top;
    var height = $(this).css('height');
    $('#productTypeDiv').css('left', left);
    $('#productTypeDiv').css('top', top);
    $('#productTypeDiv').css('margin-top', height);
    $('#productTypeDiv').fadeIn();
    $('#productTypeDivLevel1').css('display','inline');
  });

</script>