<h3>搜索</h3>
<%= form_tag(search_products_path, method:'get') do %>
  <label>分类：</label>
  <%= select_tag "search_type", options_from_collection_for_select(ProductType.all, "id", "name"), :prompt => "请选择分类"%>
  <label>制造商：</label>
  <%= text_field_tag 'product_shop' %>
  <label>SKU：</label>
  <%= text_field_tag 'sku_value' %>
  <%= hidden_field_tag 'action_from', value= params[:action] %>
  <%= button_tag '搜索' %>
<% end %>
<hr/>