<%= form_tag(update_product_type_products_path, method:'post') do %>
  <%= select_tag "search_type", options_from_collection_for_select(ProductType.get_final_type, "id", "name"), :prompt => "请选择分类" %>
  <%= hidden_field_tag 'products_id', params[:product_id] %>
  <%= button_tag '确定' %>
<% end %>

<h5>更该分类产品列表</h5>
  <table class='table'>
    <thead>
      <tr>
        <th><%= t :ProductType%></th>
        <th><%= t :Title%></th>
        <th><%= t :Sku%></th>
        <th><%= t :Product_number%></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.product_type.name, product_type_path(product.product_type) if product.product_type%></td>
          <td><%= product.title %></td>
          <td><%= product.sku %></td>
          <td><%= product.product_number %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
