<h2>导出选项：</h2>
<%= form_tag(export_products_products_path, method:'get') do%>
  <label>选择国家：</label>
  <select name='language' id='select_language'>
    <option value='china'>请选择国家</option>
    <option value='america'>美国</option>
    <option value='england'>英国</option>
    <option value='germany'>德国</option>
    <option value='france'>法国</option>
    <option value='spain'>西班牙</option>
    <option value='canada'>加拿大</option>
    <option value='italy'>意大利</option>
  </select><br/>
  <label>选择分类：</label>
  <%= select_tag "export_type", options_from_collection_for_select(ProductType.all, "id", "name"), prompt:'请选择分类:'%><br/>
  <%= button_tag '导出', format:'xls' %>
<% end %>
<%= javascript_tag do%>
$(function(){
  var export_language = "<%=cookies[:export_language]%>";
  var export_type = "<%=cookies[:export_type]%>";
  $('#select_language option[value="<%=cookies[:export_language]%>"]').attr("selected",true);
  $('#export_type option[value="<%=cookies[:export_type]%>"]').attr("selected",true);
});
<%end%>