<h3>当前用户商铺列表：</h3>

<table class='table'>
	<tr>
			<th>商铺名称</th>
			<th>操作</th>
	</tr>
	<% @shops.each do |shop|%>
		<tr>
			<td>
				<%= shop.name %>
			</td>
			<td>
			<%= link_to '编辑', edit_shop_path(shop) %>
			<%= link_to '删除', shop, method: :delete, data: { confirm: 'Are you sure?' }  %>
			</td>
		</tr>
	<% end %>
</table>
<%= paginate @shops %>

<hr/>
<h4>店铺ID检测：</h4>
  <%= text_area_tag 'test_links', nil, size:"80x2" %><br/>
  <label style='display:none;' id='check_notice'></label>
  <%= button_tag '检测', id:'check_button', "data-link"=> check_shop_id_products_path %>
<hr/>
<h4>输入店铺id号码：</h4>
<%= form_tag(save_tmall_links_products_path) do %>
  <%= text_area_tag 'links', nil, size:"80x2" %><br/>
  商铺名称：
  <%= text_field_tag 'shop_name' %><br/><br/>
  <%= button_tag '抓取' %>
<% end %>
