<h4>批量店铺产品抓取</h4>
<hr/>
<%= form_tag(save_search_link_products_path) do %>
  链接：<%= text_area_tag 'link', nil, size:"80x2" %><br/>
  选区门店ID：<%= text_area_tag 'grasp_shop_id', nil, size:"80x3" %><span>(不填则为全选，ID之间以空格分隔)</span><br/>
  链接描述：<%= text_field_tag 'link_desc' %><br/>
  屏蔽词：<%= text_field_tag 'forbidden_words' %><br/>
  备注：<%= text_field_tag 'backup' %><br/>
  <%= button_tag '抓取' %>
<% end %>
<hr/>
<div id="shop_list_table_div">
  <%= render 'search_shop_list_div' %> 
</div>