<h5>上架产品数目：<%= @products.total_count %></h5>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th><%= '类型' %></th>
      <th><%= '题目' %></th>
      <th><%= 'Sku' %></th>
      <th><%= '产品号' %></th>
      <th><%= '创建者' %></th>
      <th><%= '价格' %></th>
      <th colspan="4"><%= '操作' %></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.product_type.name, product_type_path(product.product_type) if product.product_type%></td>
        <td><%= product.title %></td>
        <td><%= product.sku %></td>
        <td><%= product.product_number %></td>
        <td><%= product.try(:user).try(:email) %></td>
        <td>
          <%= text_field_tag 'product_price', product.price, class:'product_price', size:6 %>
          <%= button_tag 'Save', class:'change_price', "data-link"=> update_price_products_path, 'data-product_id'=>product.id %>
        </td>
        <td>
          <%= link_to '编辑', edit_product_path(product) %>
          <%= link_to '屏蔽', shield_product_product_path(product) %>
          <%= link_to '下架', offsale_product_product_path(product) %>
          <%= link_to '临时下架', temp_offsale_product_product_path(product) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>

<hr/>
<% link_to '待修改产品列表', un_updated_page_products_path %>
<% link_to '屏蔽产品列表', shield_products_products_path %>
<% link_to '预售产品列表', presaled_products_products_path %>
<% link_to '下架产品列表', off_sale_products_products_path %>
<% link_to '临时下架产品列表', temp_off_sale_products_products_path %>
<b/>
<br/>
<% link_to '插入抓取链接', get_tmall_links_products_path %>
<% link_to '导出', export_page_products_path %>
<% link_to '设定汇率', cash_rates_path %>
<% link_to '编辑运输方式', shipments_path %>
<% link_to '产品分类管理', product_types_path %>
<% link_to '未翻译变体管理', translate_variables_variables_path %>

<%= javascript_tag do %>
  $('.change_price').click(function(){
    var link = $(this).data("link");
    var product_id = $(this).data("product_id");
    var price = $(this).prev('.product_price').first().val();
    $.get( link,{
      product_id: product_id,
      price: price
    }).success(function(json){
      if(json==1){
        alert('s');
      }else if(json==2){
        alert('f');
      }
    });
  })
<% end -%>
