<h4>
  <%= @result_type %>查询结果:<%= @search_value? @search_value.total_count : 0 %>件产品
</h4>
<% if @search_value %>
  <table class='table'>
    <thead>
      <tr>
        <th><%= t :ProductType%></th>
        <th><%= t :Title%></th>
        <th><%= t :Sku%></th>
        <th><%= t :Product_number%></th>
        <th colspan="3"><%= t :Options%></th>
      </tr>
    </thead>

    <tbody>
      <% @search_value.each do |product| %>
        <tr>
          <td><%= link_to product.product_type.name, product_type_path(product.product_type) if product.product_type%></td>
          <td><%= product.title %></td>
          <td><%= product.sku %></td>
          <td><%= product.product_number %></td>
          <td><%= link_to t('Show'), product %></td>
          <td><%= link_to t('Edit'), edit_product_path(product) %></td>
          <td><%= link_to t('Destroy'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @search_value %>
<% end %>
<% if @action_from == 'index' %>
  <%= form_tag temp_off_sale_all_products_path do %>
    <%= hidden_field_tag 'all_products', nil, value: @search_value.map(&:id).join(' ') %>
    <%= submit_tag '全部临时下线' %>
  <% end %>
  <%= form_tag off_sale_all_products_path do %>
    <%= hidden_field_tag 'all_offsale_products', nil, value: @search_value.map(&:id).join(' ') %>
    <%= submit_tag '全部下线' %>
  <% end %>
<% end %>

<%= link_to '返回', root_path %>
