<h4>
  <%= @result_type %>查询结果:<%= @search_value.present? ? @search_value.total_count : 0 %>件产品
</h4>
<% if @search_value %>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>产品类型</th>
        <th>产品题目<span style='color:red;'>(红色为未翻译完成)</span></th>
        <th>SKU</th>
        <th>产品号码</th>
        <th>创建者</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @search_value.each do |product| %>
        <tr>
          <td><%= link_to product.product_type.name, product_type_path(product.product_type) if product.product_type%></td>
          <% if product.is_translated? %>
            <td><%= product.title %></td>
          <% else %>
            <td style="color:red;"><%= product.title %></td>
          <% end %>
          <td><%= product.sku %></td>
          <td><%= product.product_number %></td>
          <td><%= product.try(:user).try(:username) %></td>
          <td>
            <% case @result_button  %>
            <% when 1 %>
              <%= link_to '编辑', edit_product_path(product) %>
            <% when 2 %>
              <%= link_to '编辑', edit_product_path(product) %>
            <% when 3 %>
              <%= link_to '编辑', edit_product_path(product) %>
            <% when 4 %>
              <%= link_to '编辑', edit_product_path(product) %>
            <% when 5 %>
              <%= link_to '编辑', edit_product_path(product) %>
            <% when 6 %>
              <%= link_to '编辑', edit_product_path(product) %>
              <%= link_to '上架', onsale_product_product_path(product), data: { confirm: '确认上架?' } %>
              <%= link_to '删除', product, method: :delete, data: { confirm: '确认删除?' } %>
            <% when 7 %>
              <%= link_to '编辑', edit_product_path(product) %>
            <% when 0 %>
              <%= link_to '翻译预览', translate_preview_product_path(product) %>
              <%= link_to '编辑', edit_product_path(product) %>
              <%= link_to '屏蔽', shield_product_product_path(product), data:{ confirm:'确认屏蔽？'} %>
              <a href="#" class="reGraspProduct" data-product-id="<%= product.id %>" >重新抓取</a>
            <% when 8 %>

            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @search_value %>
<% end %>

<% if @search_value.present? %>
  <% if @result_button == 6 %>
  <% elsif @result_button == 0 %>
  <% end %>

  <%= link_to '更改产品分类', change_product_type_products_path(product_id: @search_value.map(&:id)) %>
<% end %>
  
  <%= link_to '返回', root_path %>

<script type="text/javascript">
  $('.reGraspProduct').click(function(){
    if (!confirm('确认重新抓取？')){
      return false;
    }
    var productId = $(this).data('product-id');
    var $this = $(this);
    $.ajax({
      url: '/products/'+ productId +'/regrasp_product',
      type: 'get',
      success: function(){
        $this.parents('tr').remove();
        alert('操作成功！');
      }
    })
  })
</script>
