<%= render 'search_div' %>

<h2>临时下架产品列表:<%= @products.total_count %></h2>
<p id="notice"><%= notice %></p>

<table class='table'>
  <thead>
    <tr>
      <th><%= t :ProductType%></th>
      <th><%= t :Title%></th>
      <th><%= t :Sku%></th>
      <th><%= t :Product_number%></th>
      <th colspan="3"><%= t :Options%></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.product_type.name, product_type_path(product.product_type) if product.product_type%></td>
        <td><%= product.title %></td>
        <td><%= product.sku %></td>
        <td><%= product.product_number %></td>
        <td><%= link_to t('Show'), product %></td>
        <td><%= link_to t('Edit'), edit_product_path(product) %></td>
        <td><%= link_to '上架', onsale_product_product_path(product) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @products %>

<br>

<%= link_to '返回', root_url %>
