<table class="table shipments_table">
  <th>重量</th>
  <th>美国</th>
  <th>加拿大</th>
  <th>英国</th>
  <th>德国</th>
  <th>意大利</th>
  <th>西班牙</th>
  <th>法国</th>
  <th>操作</th>
  <tbody>
    <% @shipment_method.shipment_method_values.all.each do |shipment_value| %>
    <tr class="shipment_value_tr">
      <th><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.weight %>" /></th>
      <td><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.america_price %>" /></td>
      <td><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.canada_price %>" /></td>
      <td><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.british_price %>" /></td>
      <td><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.germany_price %>" /></td>
      <td><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.italy_price %>" /></td>
      <td><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.spain_price %>" /></td>
      <td><input class='inputValue' type="text" style="width:50px;" value="<%= shipment_value.france_price %>" /></td>
      <td><button class="saveChange" value="<%= shipment_value.id %>">保存</button><button class="deleteValue" value="<%= shipment_value.id %>">删除</button></td>
    <% end %>
    </tr>
  </tbody>
</table>


<script type="text/javascript">
    $('.saveChange').click(function(){
      var shipmentMethodValues = '';
      $(this).parents('tr').find('.inputValue').each(function(){
        shipmentMethodValues = shipmentMethodValues + $(this).val() + ',';
      });
      var id = $(this).val();
      var shipment_method_id = $('#shipmentIdField').val();

      $.ajax({
        url: '/shipments/save_shipment_value',
        type: 'POST',
        data: {shipment_method_value: shipmentMethodValues, id: id, shipment_method_id: shipment_method_id},
        success: function(){
        }
      })
      return false;
    });

    $('.deleteValue').click(function(){
        if(window.confirm('确定要删除吗？')){
          var id = $(this).val();
          $.ajax({
            url: "/shipments/delete_shipment_method_value",
            type: 'post',
            data: {id: id},
            success: function(){

            }
          })
        }
      return false;
    });
</script>