<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>AmazonTmall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <%= javascript_include_tag "#{params[:controller]}.js" %>
  <div id="application_layout_header" >
    <%= render 'layouts/header', locals:{selected_user: @selected_user} %>
  </div>
  <%= render 'layouts/sidebar1' %>
	<div style="width:88%; margin: 13%; margin-top:10px;" >
    <%= render 'products/search_div' %>
	  <%= yield %>
	</div>
  <%= render 'layouts/footer' %>
</div>
</body>
</html>
